@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/PretendardVariable.woff2');
}
@layer components {
  .typo-Display7Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
  }
  .typo-Display7Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
  }
  .typo-Display6Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -0.6px;
  }
  .typo-Display6Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -0.6px;
  }
  .typo-Display5Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.6px;
  }
  .typo-Display5Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.6px;
  }
  .typo-Display4Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.6px;
  }
  .typo-Display4Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.6px;
  }
  .typo-Display3Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
  .typo-Display3Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
  .typo-Display3Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
  .typo-Display3Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.6px;
  }
  .typo-Display2Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .typo-Display2Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .typo-Display1Bold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .typo-Display1Regular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .typo-Display1Medium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
  .typo-HeadlineBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .typo-HeadlineMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .typo-HeadlineRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .typo-TitleBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.6px;
  }
  .typo-TitleMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.6px;
  }
  .typo-TitleRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.6px;
  }
  .typo-BodyLargeUnderlineBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .typo-BodyLargeBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .typo-BodyLargeMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .typo-BodyLargeRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .typo-BodySmallUnderlineBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
  }
  .typo-BodySmallBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
  }
  .typo-BodySmallMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
  }
  .typo-BodySmallRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
  }
  .typo-BodyCaptionBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.6px;
  }
  .typo-BodyCaptionMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.6px;
  }
  .typo-BodyCaptionRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.6px;
  }
  .typo-MenuBold {
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.6px;
  }
  .typo-MenuMedium {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.6px;
  }
  .typo-MenuRegular {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.6px;
  }
}
@layer base {
  :root {
    --primary: 30 100% 46%;
    --primary-alpha-70: 30 100% 46% / 70%;
    --primary-alpha-50: 30 100% 46% / 50%;
    --primary-alpha-30: 30 100% 46% / 30%;
    --primary-alpha-20: 30 100% 46% / 20%;
    --primary-dark: 30 100% 35%;
    --primary-darker: 6 34% 28%;
    --primary-light: 36 100% 77%;
    --primary-lighter: 48 100% 88%;
    --accent: 257 100% 27%;
    --accent-dark: 261 51% 9%;
    --accent-light: 227 43% 85%;
    --accent-lighter: 288 9% 89%;
    --danger: 0 72% 65%;
    --danger-dark: 0 57% 42%;
    --danger-light: 0 100% 96%;
    --warning: 29 100% 59%;
    --warning-dark: 25 94% 43%;
    --warning-light: 29 100% 91%;
    --success: 151 68% 38%;
    --success-dark: 151 76% 24%;
    --success-light: 151 77% 93%;
    --grayscale-black: 0 0% 0%;
    --grayscale-white: 0 0% 100%;
    --grayscale-700: 0 0% 14%;
    --grayscale-600: 0 0% 27%;
    --grayscale-500: 0 0% 43%;
    --grayscale-400: 0 0% 59%;
    --grayscale-300: 0 0% 74%;
    --grayscale-200: 0 0% 90%;
    --grayscale-100: 0 0% 93%;
    --grayscale-50: 0 0% 97%;
    --white-alpha-70: 0 0% 100% / 70%;
    --white-alpha-50: 0 0% 100% / 50%;
    --white-alpha-30: 0 0% 100% / 30%;
    --white-alpha-10: 0 0% 100% / 10%;
    --black-alpha-80: 0 0% 0% / 80%;
    --black-alpha-70: 0 0% 0% / 70%;
    --black-alpha-50: 0 0% 0% / 50%;
    --black-alpha-30: 0 0% 0% / 30%;
    --black-alpha-20: 0 0% 0% / 20%;
    --black-alpha-10: 0 0% 0% / 10%;
    --navy-700: 261 51% 9%;
  }

  .dark {
    /* dark mode color 확인후 채워넣기 */
  }
}

@layer base {
}
